solver/build/
solver/*.user

solver/examples/NAO/*.[!cpp]
solver/examples/obstacleAvoidance/*.[!cpp]
solver/examples/RRPlanarRobot/*.[!cpp]

eigen3/
Coppelia/
ipopt/include/
ipopt/lib/
spike/danielc/
